body {
  padding-top: 50px;
  font-size: 16px;
}
.fp
{
  font-size: 24px;
  background-color: lightgreen;
  color: green;
}
.hp
{
  font-size: 24px;
  background-color: pink;
  color: red;
}
.ppe
{
  font-size: 24px;
  background-color: lightblue;
  color: blue;
}
.btn-number
{
  float: left;
  width: 20%;
}
.input-number
{
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  text-align: center;
  float: left;
  width: 50%;
}
.row
{
  margin-bottom: 10px;
}
.defense
{
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
}
.attr
{
  font-size: 24px;
}

.modal
{
  margin-top: 10%;
  overflow: visible;
}